* {
  box-sizing: border-box;
}
body {
  padding: 30px;
  font-family: Arial, "Helvetica Neue", Helvetica,
    sans-serif;
  color: #612406;
}
main {
  height: 100vh;
}

.mainDiv {
  padding: 20px;
  flex-direction: row;
  display: flex;
  border-radius: 25px;
  background-color: #fcf7e3;
}
.textDiv {
  padding: 20px;
  display: flex;
  flex-direction: column;
}
img {
  width: 100%;
  height: 100%;
  object-fit: none;
}
h1 {
  padding: 20px 0px;
  font-size: larger;
  font-weight: 900;
}
