* {
  box-sizing: border-box;
}
main {
}
body {
  size: 100%;
  font-family: Arial, "Helvetica Neue", Helvetica,
    sans-serif;
  color: #612406;
}
img {
  width: 50px;
  padding-right: 20px;
}
.mainNavDiv {
  width: 320px;
  flex-direction: wrap;
  background-color: #fcf7e3;
  border-radius: 40px;
  gap: 20px;
  flex-wrap: wrap;
  align-items: center;
  justify-content: center;
}

.btn {
  width: 100px;
  border-radius: 40px;
  background-color: #f3df85;
  color: #612406;
}

.textp {
  order: 0;
}

.shopBtn {
  width: 140px;
  font-weight: 900;
  padding: 10px 10px;
  display: flex;
  justify-content: space-around;
  align-items: center;
  order: 0;
}
