* {
  box-sizing: border-box;
}
body {
  margin: 20px;
  font-family: Arial, "Helvetica Neue", Helvetica,
    sans-serif;
  color: #612406;
}

.contMain {
  min-width: 320px;
  display: flex;
  flex-direction: column;
  border-radius: 40px;
  background-color: #fcf7e3;
  padding: 10px;
}
.imgDiv {
  max-width: 430px;
  display: flex;
}
.twoPdiv {
  display: flex;
  padding: 15px 10px;
  justify-content: stretch;
  align-items: center;
}
.bioHonney {
  padding: 20px 10px;
  text-align: center;
  font-size: 15px;
  font-weight: 600;
}
.bre {
  padding: 30px 20px;
  text-align: center;
  font-size: 10px;
  font-weight: 100;
  align-self: auto;
}

img {
  width: 100%;
  /* object-fit: cover; */
  border-top-left-radius: 50px;
  border-top-right-radius: 50px;
}
.buttonDiv {
  align-items: stretch;
}
button {
  font-size: 20px;
  font-weight: normal;
  margin: auto;
  background-color: #f3df85;
  border: 0px;
  border-radius: 25px;
  padding: 10px 50px;
  color: #612406;
}
@media screen and (min-width: 576px) {
  .contMain {
    flex: 0;
    width: 50%;
  }
}
